Package: com.junesiphone.safariviewcontroller
Name: SafariViewController
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: JunesiPhone
Author: JunesiPhone
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
